/* I rem= 1em= 16px in media queries */
@media (max-width: 85em) {
  .about-section {
    margin-top: -3rem; } }

@media (max-width: 75em) {
  html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 56.25%; }
  .main-nav-list {
    gap: 3rem; }
  .about-profile--pic {
    height: 22rem;
    width: 22rem; } }

@media (max-width: 72em) {
  .about-profile--pic {
    margin-top: -4rem; }
  .section {
    max-width: 100rem; } }

@media (max-width: 59em) {
  html {
    font-size: 50%; }
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.2rem;
    row-gap: 4.8rem; }
  .contact {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url(../assets/contact.png); }
    .contact__heading {
      font-size: 2.4rem; }
    .contact .form__input {
      font-size: 1.8rem;
      padding: 1.5rem 2rem;
      width: 65%; }
    .contact .form__radio-group {
      width: 40%;
      padding-left: 5rem;
      font-size: 1.8rem; }
    .contact .form__btn {
      margin-top: 3;
      text-align: center; } }

@media (max-width: 53.5em) {
  .about-profile--pic {
    height: 18rem;
    width: 18rem; }
  .section-heading {
    font-size: 3.2rem; }
  .btn--git:link, .btn--git:visited {
    right: 2rem;
    font-size: 1.2rem;
    top: 80%; }
  .btn--effect:link, .btn--effect:visited {
    left: 2rem;
    top: 60%;
    font-size: 1.2rem; }
  .slider__btn--left {
    left: 10%; }
  .slider__btn--right {
    right: 10%; }
  .slide {
    left: 10%; } }

@media (max-width: 51em) {
  .btn-mobile-nav {
    display: block;
    z-index: 3; }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    z-index: 3;
    transform: translateX(0); }
  .nav-open .icon-mobile-nav[name="close-icon"] {
    display: block; }
  .nav-open .icon-mobile-nav[name="menu-icon"] {
    display: none; }
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    background-image: linear-gradient(to bottom right, #373b44, #1a3662); }
    .main-nav-list {
      flex-direction: column; }
      .main-nav-list-link:link, .main-nav-list-link:visited {
        font-size: 3.2rem; }
  .header {
    overflow: hidden; }
  .card {
    height: auto;
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    position: relative;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side {
      height: 33rem;
      position: relative;
      width: 50%;
      box-shadow: none; }
      .card__side--back {
        transform: rotateY(0deg);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
    .card:hover .card__side--front {
      transform: rotateY(0deg); }
  .card__details {
    padding: 1rem 2rem; }
  .card__text-box {
    display: none; }
  .card__picture {
    height: 15rem; }
  .card__heading {
    top: 5rem;
    right: 2.4rem;
    font-size: 2.2rem; }
    .card__heading__heading-span {
      padding: 2rem 2.5rem; }
  __cta {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem; }
  .btn--git:link, .btn--git:visited {
    font-size: 1.2rem;
    top: -4rem;
    right: -7rem;
    padding: 0rem 5rem; }
  .btn--effect:link, .btn--effect:visited {
    left: -6.2rem;
    top: -10rem;
    padding: 0rem 5rem;
    font-size: 1.2rem; }
  .about-profile--pic {
    margin-left: -1rem; }
  .operations {
    max-width: 80rem; }
  .skills {
    max-width: 80rem; } }

@media (max-width: 42em) {
  .about-profile--pic {
    height: 17rem;
    width: 17rem; }
    .about-profile--pic img {
      margin-left: 7rem; }
  .slide {
    width: 100%;
    left: 25%; }
  .card__heading {
    right: -1rem;
    font-size: 2.2rem;
    top: 8rem; }
  .grid-row {
    column-gap: 20rem; }
  .step-text-number {
    font-size: 7rem; }
  .experience-designation {
    font-weight: 700;
    font-size: 2.4rem; }
  .experience-duration {
    font-size: 1.4rem; }
  .experience-company-name {
    font-size: 1.8rem; }
  .experience-spots::before {
    top: 92rem; }
  .education__name {
    font-size: 2rem; }
  .operations__para {
    font-size: 1.6rem; }
  .contact {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 70%), url(../assets/contact.png); }
    .contact__heading {
      font-size: 2.4rem; }
    .contact .form__input {
      font-size: 1.8rem;
      padding: 1.5rem 2rem;
      width: 65%; }
    .contact .form__radio-group {
      width: 40%;
      padding-left: 5rem;
      font-size: 1.8rem; }
    .contact .form__btn {
      margin-top: 2rem; }
    .contact .about-profile--pic {
      height: 16rem;
      width: 16rem; } }

@media (max-width: 37em) {
  .section {
    max-width: 60rem; }
  .section-heading {
    font-size: 2.8rem; }
  .grid-row {
    column-gap: 15rem; }
  .step-text-number {
    font-size: 6rem; }
  .experience-designation {
    font-weight: 700;
    font-size: 2rem; }
  .experience-duration {
    font-size: 1.4rem; }
  .experience-company-name {
    font-size: 1.4rem; }
  .experience-spots::before {
    top: 80rem; }
  .exp-list {
    font-size: 1.4rem; }
  .contact {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 100%), url(../assets/contact.png);
    width: 100%; }
    .contact__heading {
      font-size: 2.4rem; }
    .contact .form {
      width: 100% .contact .form __input;
        width-font-size: 1.8rem;
        width-padding: 1.5rem 2rem;
        width-width: 100%; }
      .contact .form__radio-group {
        width: 90%;
        margin-bottom: 1rem; }
      .contact .form__btn {
        margin-top: 2rem; }
  .footer {
    padding: 4rem; }
    .footer__logo-box {
      margin-bottom: 2rem; }
  .footer_row {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    padding-left: 0;
    gap: 10rem; }
  .footer__icons {
    padding-left: 0; }
  .footer__copyright {
    margin: 0 auto; }
  .operations {
    max-width: 70rem; }
  .skills-grid {
    grid-template-columns: repeat(3, 1fr); }
  .grid-row {
    column-gap: 8rem; }
  .card__heading {
    right: -2rem;
    font-size: 2rem;
    top: 6rem; }
  .about-profile--pic {
    height: 16rem;
    width: 16rem; }
    .about-profile--pic img {
      margin-left: 6rem; } }

@media (max-width: 31em) {
  .particles {
    height: 50vh; }
  .header__text-box h1 {
    font-size: 3.2rem; }
  .header__icons li {
    font-size: 0.8rem; } }

@media (max-width: 26em) {
  .form__group:not(:last-child) {
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    padding-left: 3rem;
    width: 40rem; }
  .particles {
    height: 47vh; }
  .header__text-box {
    top: 42%; }
    .header__text-box h1 {
      font-size: 3rem; }
  .about-profile--pic {
    height: 14rem;
    width: 14rem; }
  .about-text-para {
    font-size: 1.6rem; }
  .logo {
    height: 6rem; }
  .section-heading {
    font-size: 2.6rem; }
  .grid-row {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    row-gap: 4rem; }
  .step-text-number {
    display: none; }
  .experience-divider {
    left: 0;
    right: 10%; }
  .mobile__setting {
    padding-top: 4rem; }
  .experience-spots::before {
    top: 58rem; }
  .experience-spots::after {
    top: 25rem; }
  .section {
    max-width: 50rem; }
  .operations__header {
    font-size: 2.2rem; }
  .operations__para {
    font-size: 1.2rem; }
  .operations__content p {
    grid-area: auto; }
  .operations__tab--1 {
    font-size: 1.2rem; }
  .operations__tab--2 {
    font-size: 1.2rem; }
  .operations__tab--3 {
    font-size: 1.2rem; }
  .operations__content {
    font-size: 1.8rem; }
  .operations .operations__content--active {
    grid-template-columns: repeat(1, 1fr); }
  .operations .exp-list i {
    font-size: 1.2rem; }
  .operations:hover {
    transform: translateY(0rem) skewX(0deg); }
  .footer__logo {
    width: 15rem; }
  .section-heading_contact {
    font-size: 2.6rem; } }

@media (max-width: 25em) {
  .form__input {
    width: 95%; }
  .about-profile--pic {
    top: -4rem; }
  .header__text-box h1 {
    font-size: 2.4rem; }
  .header__icons li {
    font-size: 0.6rem; }
  .about-profile--pic {
    height: 11rem;
    width: 11rem;
    margin-left: -4rem; }
  .about-text-para {
    font-size: 1.6rem; }
  .footer__copyright {
    margin: 0 auto; } }

@media (max-width: 26em) {
  .section-contact {
    padding: 5rem 2rem; }
  .particles {
    height: 30vh; } }
